# Binaries
**/bin/
!vendor/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.filters.xml
**.user

# Neovim on linux files and folders
*.make
**/Makefile
obj/
dev-app.sh
.cache/

# Data 
**.json
**/**.ini

# LS-PrePost files
**.k
**.cfile
**.msg
